<div class="main">
  <div class="mat-headline">Infor Manila's Geofence</div>

  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="18"
    [mapDraggable]="false">
    <agm-polygon [paths]="paths" [strokeWeight]="2"></agm-polygon>
    <agm-marker [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
  </agm-map>

  <ng-container *ngIf="message">
    <div class="mat-title">Location Alert</div>
    <div class="mat-subheading-2">
      {{message}}
    </div>
  </ng-container>
</div>
