.states {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

mat-card {
    margin-bottom: 25px;
    width: 30%;

    &#todos mat-list mat-list-item {
        mat-icon {
            cursor: pointer;
        
            &.completed {
                color: green;
            }
        }
        
        .matline.completed {
            text-decoration: line-through;
        }
    } 

    &#todos-state {
        background: lightblue;
    }

    &#todos-state-complete {
        background: lightgreen;
    }

    &#todos-state-incomplete {
        background: salmon;
    }
}
