.mat-title {
    font-weight: 600;
}

#todos {
    margin-bottom: 25px;

    mat-icon {
        cursor: pointer;
    }

    .matline-completed {
        text-decoration: line-through;
    }
}

.states {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    mat-card {
        width: 30%;
        height: auto;
    }

    #todos-state {
        background: lightblue;
    }
    
    #todos-state-complete {
        background: lightgreen;
    }
    
    #todos-state-incomplete {
        background: salmon;
    }
}
