<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Todo</mat-label>
    <input 
      matInput
      formControlName="todoTitle"
      type="text" />
  </mat-form-field>
  <button type="submit">Add Todo</button>
</form>

<hr /> 

<h1 class="mat-h1">Todos</h1>
<mat-list>
  <mat-list-item *ngFor="let todo of todos$ | async">
    <mat-icon mat-list-icon>label</mat-icon>
    <h4 mat-line>{{todo.title}}</h4>
  </mat-list-item>
</mat-list>

<hr />

<h1 class="mat-h1">State</h1>
<pre class="mat-caption">
  {{todos$ | async | json}}
</pre>